.resultat {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: -0.4px;
  color: #eff0f3;
  font-weight: 700;
  text-decoration: underline solid rgb(8, 107, 236);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  
}

