body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/3163927/pexels-photo-3163927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
}

